In [1]:
import pandas as pd

In [9]:
raw_data = pd.read_csv("Resources/Data/vHoneyNeonic_v02.csv")
raw_data

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year,StateName,Region,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic
0,AL,11000.0,56,616000.0,209000.0,1.49,918000.0,2007,Alabama,South,7696.2,3258.1,4149.6,0.0,0.0,15103.9
1,AL,11000.0,72,792000.0,230000.0,1.21,958000.0,2006,Alabama,South,680.0,4230.2,5371.6,0.0,0.0,10281.8
2,AL,12000.0,86,1032000.0,103000.0,1.18,1218000.0,2002,Alabama,South,0.0,1178.8,840.4,0.0,0.0,2019.2
3,AL,12000.0,87,1044000.0,282000.0,1.41,1472000.0,2004,Alabama,South,2676.4,1323.9,3863.9,0.0,0.0,7864.2
4,AL,13000.0,66,858000.0,266000.0,1.02,875000.0,2005,Alabama,South,1503.6,994.5,5493.9,0.0,0.0,7992.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,WY,40000.0,68,2720000.0,190000.0,1.78,4842000.0,2016,Wyoming,West,0.0,27.5,9.4,0.0,0.0,36.9
821,WY,43000.0,80,3440000.0,894000.0,1.00,3440000.0,2007,Wyoming,West,122.2,198.3,76.3,0.0,0.0,396.8
822,WY,46000.0,60,2760000.0,524000.0,0.68,1877000.0,1998,Wyoming,West,0.0,91.2,0.0,0.0,0.0,91.2
823,WY,47000.0,66,3102000.0,558000.0,2.11,6545000.0,2013,Wyoming,West,840.9,155.9,526.2,0.0,0.0,1523.0
824,WY,50000.0,51,2550000.0,459000.0,1.87,4769000.0,2012,Wyoming,West,1174.9,277.0,423.3,0.0,0.0,1875.2

### Brainstorming

- convert state to a numeric value (necessary?)
- convert neonic columns to boolean values - dummy encoding does the converstion of categorical data to boolean values and takes age groups and coverts them. Probably won't work for the format of the neonic data value.
- <p style = "color: blue">set the max neonic value per row as the categorical value for y and use the numcol, yieldpercol, totalprod, stocks,priceperlb, prodvalue as features (X)</p>
- <p style = "color: blue">set max neonic value per row as it's categorical value and then one hot encode to use it as a feature to predict region? state? categorically transformed priceperlb as above or below average over dataset?</p>

In [4]:
# import csv
# file_to_open = "Resources/Data/vHoneyNeonic_v02.csv"
# with open(file_to_open,'r')as this_csv_file:
#     this_csv_reader = csv.reader(this_csv_file, delimiter=',')
#     header = next(this_csv_reader)
#     print(header)

['state', 'numcol', 'yieldpercol', 'totalprod', 'stocks', 'priceperlb', 'prodvalue', 'year', 'StateName', 'Region', 'nCLOTHIANIDIN', 'nIMIDACLOPRID', 'nTHIAMETHOXAM', 'nACETAMIPRID', 'nTHIACLOPRID', 'nAllNeonic']

In [7]:
raw_data.dtypes

state             object
numcol           float64
yieldpercol        int64
totalprod        float64
stocks           float64
priceperlb       float64
prodvalue        float64
year               int64
StateName         object
Region            object
nCLOTHIANIDIN    float64
nIMIDACLOPRID    float64
nTHIAMETHOXAM    float64
nACETAMIPRID     float64
nTHIACLOPRID     float64
nAllNeonic       float64
dtype: object

In [8]:
reduced_data = raw_data.dropna(how="any", axis=0)
reduced_data

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year,StateName,Region,nCLOTHIANIDIN,nIMIDACLOPRID,nTHIAMETHOXAM,nACETAMIPRID,nTHIACLOPRID,nAllNeonic
0,AL,11000.0,56,616000.0,209000.0,1.49,918000.0,2007,Alabama,South,7696.2,3258.1,4149.6,0.0,0.0,15103.9
1,AL,11000.0,72,792000.0,230000.0,1.21,958000.0,2006,Alabama,South,680.0,4230.2,5371.6,0.0,0.0,10281.8
2,AL,12000.0,86,1032000.0,103000.0,1.18,1218000.0,2002,Alabama,South,0.0,1178.8,840.4,0.0,0.0,2019.2
3,AL,12000.0,87,1044000.0,282000.0,1.41,1472000.0,2004,Alabama,South,2676.4,1323.9,3863.9,0.0,0.0,7864.2
4,AL,13000.0,66,858000.0,266000.0,1.02,875000.0,2005,Alabama,South,1503.6,994.5,5493.9,0.0,0.0,7992.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,WY,40000.0,68,2720000.0,190000.0,1.78,4842000.0,2016,Wyoming,West,0.0,27.5,9.4,0.0,0.0,36.9
821,WY,43000.0,80,3440000.0,894000.0,1.00,3440000.0,2007,Wyoming,West,122.2,198.3,76.3,0.0,0.0,396.8
822,WY,46000.0,60,2760000.0,524000.0,0.68,1877000.0,1998,Wyoming,West,0.0,91.2,0.0,0.0,0.0,91.2
823,WY,47000.0,66,3102000.0,558000.0,2.11,6545000.0,2013,Wyoming,West,840.9,155.9,526.2,0.0,0.0,1523.0
824,WY,50000.0,51,2550000.0,459000.0,1.87,4769000.0,2012,Wyoming,West,1174.9,277.0,423.3,0.0,0.0,1875.2

## Notes

States not in dataset:
- Alaska
- Connecticut
- Delaware
- Michigan
- New Hampshire
- Rhode Island

Hawaii has no data but space in the dataset